.button {
    --buttonOpacity: var(--opacity);

    @include reset-button;

    @include hover {
        opacity: var(--buttonOpacity);
    }

    &--without-opacity-hover{
        --buttonOpacity: 1;
    }
}