.pagination{

    &__list
    {    
        display: flex;
        column-gap: 6px;
    }


    &__button{
        @include square(20px);
        position: relative;

        &::after{
            @include abs-center;
            @include square(7px);

            content: "";
            background-color: black;
            border-radius: 50%;
        }

        &--selected{
            background-color: inherit;
            border: 1px solid var(--color-gray);
            border-radius: 50%;
            
            cursor: auto;
            @include hover{
                opacity: 1;
            }
        }
    }
}